<select id="{{ _sId~_name }}" name="_{{ _name }}" {{ _readonly_ == "readonly" ? "disabled" : "" }}>
    {% if _define.nullable %}
        <option value="">No select</option>
    {% endif %}
    {% for __value in _define.value %}
        {% if __value == _value %}
            <option value="{{ __value }}" selected="selected">{{ __value }}</option>
        {% else %}
            <option value="{{ __value }}">{{ __value }}</option>
        {% endif %}
    {% endfor %}
</select>

<script type="text/javascript">
    $(document).ready(function() {
        $('#{{ _sId~_name }}').multiselect({
            enableFiltering: false
        });
    });
</script>
