{% if _readonly_ != "readonly" %}
    <select id="{{ _sId~_name }}" name="_{{ _name }}" {{ _readonly_ == "readonly" ? "disabled" : "" }}>
        {% if _define.nullable %}
            <option value="">No select</option>
        {% endif %}
        {% for group_k, group_v in _define.values %}
            <optgroup label="{{ group_k }}">
                {% for __key, __value in group_v %}
                    {% if __key == _value %}
                        <option value="{{ __key }}" selected="selected">{{ __value }}</option>
                    {% else %}
                        <option value="{{ __key }}">{{ __value }}</option>
                    {% endif %}
                {% endfor %}
            </optgroup>
        {% endfor %}
    </select>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#{{ _sId~_name }}').multiselect({
                enableFiltering: true
            });
        });
    </script>
{% else %}
    <input type="text" class="form-control" name="_{{ _name }}" value="{{ _value }}" readonly>
{% endif %}
