<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="row wrapper"></div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-12">
                <form class="form-horizontal" action="{{ main_url }}{{ form }}" method="POST"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="hidden" name="id" value="{{ items["id"] }}">

                        <div class="form-group">
                            <label class="control-label col-sm-2"></label>
                            <div class="col-sm-10">
                                <h3>Overview</h3>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2"></label>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label sm">Team A</label><br>
                                        {% for _name, _define in db %}
                                            {% if _name == "team_a_id" %}
                                                {% set _value = items[_name] %}
                                                {% include "cms/component/item.twig" %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                    <div class="col-md-4">
                                        <label class="control-label sm">Team B</label><br>
                                        {% for _name, _define in db %}
                                            {% if _name == "team_b_id" %}
                                                {% set _value = items[_name] %}
                                                {% include "cms/component/item.twig" %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                    <div class="col-md-2">
                                        <label class="control-label sm">Stadium</label><br>
                                        {% for _name, _define in db %}
                                            {% if _name == "stadium_id" %}
                                                {% set _value = items[_name] %}
                                                {% include "cms/component/item.twig" %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2"></label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label class="control-label sm">Referee</label>
                                        <input type="text" class="form-control" id="referee_id" name="referee"
                                               value="{{ items["referee"] }}" placeholder="">
                                    </div>

                                    {#<div class="col-md-5">#}
                                        {#<label class="control-label sm">Stadium</label>#}
                                        {#<input type="text" class="form-control" id="stadium_id" name="stadium"#}
                                               {#value="{{ items["stadium"] }}" placeholder="">#}
                                    {#</div>#}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2"></label>
                            <div class="col-sm-10">
                                {#<label class="col-sm-2 control-label">Status</label>#}
                                <div class="row">
                                    <div class="col-md-5">
                                        <label class="control-label sm">Time</label>
                                        <input type="text" id="time_id" name="time" class="form-control" value="{{ items["played_at"] }}" data-date-format="yyyy-mm-dd HH:ii P">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2"></label>
                            <div class="col-sm-10">
                                {#<label class="col-sm-2 control-label">Status</label>#}
                                <div class="row">
                                    <div class="col-md-5">
                                        <select name="status" id="status_id">
                                            <option value="active" {{ items["status"] == 'active' ? 'selected="selected"' }}>
                                                Active
                                            </option>
                                            <option value="block" {{ items["status"] == 'block' ? 'selected="selected"' }}>
                                                Block
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2"></label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-10">
                                        <label class="control-label sm">Description</label>
                                        {#<input type="text" class="form-control" id="description_id" name="description"#}
                                        {#value="{{ items["description"] }}" placeholder="">#}

                                        <textarea name="desc" id="description_id" class="form-control" rows="3"
                                                  placeholder="">{{ items["desc"] }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-10">
                                        <button type="submit" class="btn btn-success" name="action" value="editting">
                                            Save
                                        </button>
                                        <button class="btn btn-default"
                                                onclick="window.location='{{ main_url }}{{ form }}';return false;">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $('#time_id').datetimepicker();
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#team_a_id').devbridgeAutocomplete({
            serviceUrl: '{{ main_url }}/suggest/region/team'
        });

        $('#team_b_id').devbridgeAutocomplete({
            serviceUrl: '{{ main_url }}/suggest/region/team'
        });

        $('#stadium_id').devbridgeAutocomplete({
            serviceUrl: '{{ main_url }}/suggest/region/stadium'
        });

        $('#province_id').devbridgeAutocomplete({
            serviceUrl: '{{ main_url }}/suggest/region/province'
        });
        $('#city_id').devbridgeAutocomplete({
            serviceUrl: '{{ main_url }}/suggest/region/city'
        });

        $('select').multiselect({
            enableFiltering: false
        });

        $('#autocomplete').devbridgeAutocomplete({
            serviceUrl: '{{ main_url }}/system/search_customer',
            onSelect: function (data) {
                $("#first_name_id").val(data.data["first_name"]);
                $("#last_name_id").val(data.data["last_name"]);
                $("#email_id").val(data.data["email"]);
                $("#phone_id").val(data.data["phone"]);
                $('#gender_id').multiselect('select', [data.data["gender"]]);
                $('#gender_id').multiselect('refresh');
                $("#address_id").val(data.data["address_m"]);
                $("#city_id").val(data.data["city"]);
                $("#country_id").val(data.data["country"]);
                $("#zipcode_id").val(data.data["zipcode"]);
                $("#province_id").val(data.data["province"]);
            }
        });
    });
</script>
